<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.evl.emf.validation">
      <constraintsBinding
            compose="true"
            constraints="validation/software_management.evl"
            namespaceURI="software_management">
      </constraintsBinding>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.eclipse.epsilon.eugenia.examples.software_management.validation.MarkerResolutionGenerator1"
            markerType="software_management.diagram.diagnostic">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="org.eclipse.epsilon.eugenia.examples.software_management.validation.MarkerResolutionGenerator2"
            markerType="org.eclipse.emf.ecore.diagnostic">
      </markerResolutionGenerator>
   </extension>

</plugin>
